.article {
    &__top {
        width: 100%;
        display: flex;
    }
    &__img {
        object-fit: cover;
        text-align: center;
        max-height: 100%;
        background-image: url("./../images/Bitmap-9.png");
        background-size: cover;
        width: 100%; //
    }
    &__title {
        @extend %title_articles;
        margin-bottom: 2.4rem;
        text-align: 2.9rem;
    }
    &__subtitle {
        @extend %subtitle_articles;
        display: flex;
        margin-bottom: 2rem;
        padding-bottom: 1.5rem;
        position: relative;
        text-transform: uppercase;
        width: 100%;

        & > .author {
            margin-right: 2rem;
            max-width: 50%;
        }
        & > .date {
            max-width: 50%;
        }
    }
    &__description {
        @extend %description_articles;
    }
    &__content {
        @extend %content_articles;
        margin-bottom: 3rem;
    }
}

.articles__block {
    justify-content: space-between;
    padding-bottom: 3.4rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    & > .article {
        max-width: 34rem;
        & > .article__top {
            margin-bottom: 2.4rem;
            & > .article__img {
                height: 23.3rem;
            }
        }
    }
    &:after {
        flex-basis: 30%;
        content: "";
    }
}

.content-exist > .article__subtitle {
    @include line(100%, 0.2rem);
}
