.header {
    &__top {
        margin: 2.5rem 0;
    }
    &__search {
        display: flex;
        justify-content: space-between;
    }
    &__menu {
        background-color: $main-red;
        padding: 2.5rem 0;
    }
}

.logo {
    font-family: $Roboto;
    font-weight: bold;
    font-size: 5rem;
    align-items: center;
    color: $text-red;
}

.search {
    display: flex;
    align-items: center;
    &-input {
        color: #646464;
        padding: 1rem 15rem 1rem 2.3rem;
        font-size: 1.5rem;
        font-family: $Roboto;
        font-weight: 300;
        outline: none;
        border-radius: 3rem;
        position: relative;
        border: 1px solid #ededf5;
        &::placeholder {
            color: #646464;
        }
    }
}

.search > .fa-search {
    color: #dddddd;
    position: relative;
    margin-left: -3rem;
}

.fa-search {
    position: absolute;
}

.menu {
    &__list {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-family: $Roboto;
        font-weight: bold;
        font-size: 1.5rem;
    }
    &__list-item {
        border-right: 1px solid #fff;
        display: flex;
        align-items: center;
        padding-right: 2.8rem;
        &:last-child {
            padding: 0;
            border-right: none;
        }
    }
    &__list-link {
        color: #fff;
    }
}
