.top-articles .article {
    margin-bottom: 8rem;
}

.sort {
    font-family: $Roboto;
    font-weight: bold;
    font-size: 2rem;
    &__inner {
        display: flex;
        justify-content: start;
        padding: 1rem 0;
    }
    &__text {
        padding-top: 2rem;
        padding-right: 8rem;
    }
    &__btn {
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &-type {
            padding: 2rem 2rem;
            margin-right: 2.5rem;
            border: none;
            background-color: transparent;
            cursor: pointer;
            position: relative;
        }
    }
}

.pagination__list {
    display: flex;
    justify-content: center;
    font-family: $Roboto;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    line-height: 3rem; //
    &-item {
        padding: 0 2rem;
    }
}

li > a.pagination__list-page {
    text-align: center;
    height: 3rem;
    width: 3rem;
    display: block;
    color: #444444;
    &:hover {
        background-color: rgb(221, 221, 221);
        border-radius: 50%;
        text-align: center;
    }
}

.current-page {
    background-color: $text-red;
    color: #fff;
    border-radius: 50%;
    text-align: center;
}

#pagination-next,
#pagination-prev {
    color: #444444;
}

#pagination-next {
    position: relative;
    @include arrow(-45deg);
}

#pagination-prev {
    position: relative;
    @include arrow(135deg);
}
