.top-articles > .top-stories__inner {
    margin-bottom: 0;
}

.top-articles .article {
    margin-bottom: 8rem;
}

.sort {
    font-family: $Roboto;
    font-weight: bold;
    font-size: 2rem;
    &__inner {
        display: flex;
        justify-content: start;
        padding: 1rem 0;
    }
    &__text {
        padding-right: 8rem;
    }
    &__btn {
        text-transform: uppercase;
        //padding: 2rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &-type {
            padding: 2rem 3rem;
            border: none;
            background-color: transparent;
            cursor: pointer;
            &:hover {
                background-color: $text-red;
                color: #fff;
            }
        }
    }
}
