.main {
    background-color: #fafafa;
    &__container {
        margin: 0 auto;
        padding: 0 5rem;
    }
}

.top-stories {
    &__inner {
        margin-bottom: 6rem;
    }
    &__title {
        @extend %title;
    }
    &__content {
        padding: 3rem 3rem 0 3rem;
        background-color: #fff;
        box-shadow: 0px 0px 20px 0px rgba(180, 180, 180, 0.75);
    }
    &__content > .articles__block {
        @include line(100%, 0.2rem);
    }
    &__button {
        text-transform: uppercase;
        font-family: $Roboto;
        font-size: 1.6rem;
        color: #646464;
        font-weight: bold;
        display: block;
        padding: 1.6rem 0;
        text-align: center;
    }
}

.editors-pick {
    &__title {
        text-align: right;
        @extend %title;
    }
    &__inner {
        margin-bottom: 8rem;
    }
    &__content {
        padding: 3rem 3rem 3.4rem 3rem;
        background-color: #fff;
        box-shadow: 0px 0px 20px 0px rgba(180, 180, 180, 0.75);
        & > .article {
            display: flex;
            & > .article__text {
                flex-shrink: 2;
                padding-left: 2rem;
            }
            & > .article__top {
                flex-shrink: 1;
            }
        }
    }
}

.inf {
    &__top {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0px 0px 20px 0px rgba(180, 180, 180, 0.75);
        margin-bottom: 9.7rem;
    }
    &__contact {
        width: 33%;
        background-color: $main-red;
        color: #fff;
        padding: 5.6rem 0 0 5rem;
    }
    &__bottom-inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
    }
    &__links {
        //   border-right: .2rem solid #bababa;
        flex-wrap: wrap;
        align-items: center;
        &:last-child {
            border-right: none;
        }
        &-title {
            font-family: $Roboto;
            font-weight: bold;
            color: #646464;
            margin-bottom: 3.8rem;
        }
    }
}

.message {
    width: 67%; //
    &__inner {
        padding: 5rem 0 0 8.3rem;
    }
    &__title {
        font-family: $Roboto;
        font-weight: normal;
        font-size: 2.4rem;
        color: $blue;
        margin-bottom: 4.7rem;
    }
    &__send {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 65rem;
    }
    &__input {
        width: 50%;
        padding-right: 10%;
        margin-bottom: 4.3rem;
        &--big {
            width: 100%;
        }
    }
}

.send {
    &__title {
        font-family: $Roboto;
        font-weight: normal;
        font-size: 1.4rem;
        color: #bababa;
        margin-bottom: 0.9rem;
    }
    &__input {
        border-width: 0px 0px 1px 0px;
        color: #3e454c;
        font-family: $Roboto;
        font-weight: normal;
        font-size: 2rem;
        outline: none;
        padding: 1.4rem 0;
        width: 100%;
    }
}

.send__button {
    background-color: transparent;
    border: none;
    font-family: $Roboto;
    font-weight: normal;
    font-size: 1.5rem;
    color: #2085c5;
    border: 2px solid #97c6e4;
    padding: 1.8rem 4.2rem;
    border-radius: 8px;
    margin-bottom: 6rem;
}

.contact {
    &__title {
        font-size: 2.4rem;
        margin-bottom: 4.6rem;
        font-family: $Roboto;
        font-weight: normal;
    }
    &__inner {
        max-width: 80%;
        font-size: 2rem;
        font-family: $Roboto;
        font-weight: normal;
        margin-bottom: 3rem;
        line-height: 3.5rem;
    }
    &__text {
        margin-bottom: 3rem;
        display: flex;
        &:last-child {
            margin: 0;
        }
        & > .fa {
            font-size: 2rem;
            padding-right: 2rem;
            padding-top: 0.5rem;
        }
    }
}

.links {
    &__list-link {
        font-family: $Roboto;
        font-weight: normal;
        color: #bababa;
        font-size: 1.5rem;
    }
    &__list-item {
        margin-bottom: 1.5rem;
    }
}

.follow {
    &__inner {
        margin-bottom: 5.5rem;
        background-color: #fff;
        display: flex;
    }
    &__path {
        margin: 0 -1px 0 0;
        display: inline-block;
        border: 1px solid #bababa;
        color: #646464;
        font-family: $Roboto;
        font-weight: normal;
        background-color: #fff;
        padding: 1.5rem 0;
        text-align: center;
        width: 100%;
        cursor: pointer;
    }
}
